*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Comfortaa', sans-serif;
}

:root {
    --white: white;
    --black: black;
    --naranjaoscurillado: #B0A326;
    --verdemostaza: #8E9E31;
    --naranja: #E5B50E;
    --verdeoscurillo: #677709;
    --verdeocuro: #165f03b3;
    --verdemedio: #84bd76b3;
    --verdeclaro: #f1ffeeb3;
    --verdeclarosintransp: #f1ffee;
    --colorhuevo: #FFF0BA;
    --gris: #D9D9D9;
    --amarillo: yellow;
}

h1 {
    font-size: xxx-large;
}

p {
    font-size: large;
}

.home {
    background-color: var(--verdemostaza);
    padding: 1rem;

}

a {
    color: var(--black);
}

a:visited {
    color: var(--black);
}


.buscador {
    align-items: center;
    display: inline-block;
    height: 2.8rem;
    width: 18rem;
    border-radius: 0.5rem;
}

.logo, .logo2 {
    max-width: 5rem;
    filter: drop-shadow(0 2px 5px var(--verdeocuro)); 
}


#boton_ham {
    display: none;
}

#label_boton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.categorias {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    

}

.N:hover {
    color: var(--naranja);
}
.cat {
    margin: 1rem;
    font-size: x-large;
}

h1 {
    margin-top: 2rem;
/*     margin-right: 2.5rem;  */
/* esto genera conflicos con todos los h1s y los descuadra hacia la izquierda */
}

#i {
    margin: 1rem;
    font-size: xx-large;
}

i {
    font-size: x-large;

}


.hamburguesa {
    display: flex;

}

.topnav {display: none;}

#boton_ham:checked ~ #myTopnav {
    display: block;
/*     text-align: left; */
}
              

#myTopnav {
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: var(--verdeclarosintransp);
    width: 100%;
    height: 100%;
    z-index: 1;
}

#boton_ham:checked ~ #myTopnav a {
display: block;
text-align: right;
}

#boton_ham:checked ~ #myTopnav a:hover {
    color: var(--naranja);

    }

.topnav a {

    margin: 5rem;
    font-size: larger;
    
}

.fila1, .fila2{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fila1 {
    margin-bottom: 1rem;
}

.idioma{
    display: none;
}

.logo-movil{
    display: none;
}

.icono{
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}
/* ..................................................................................................... */
/* .............................................ABDERAHMANE .............................................*/
/* ..................................................................................................... */


/* categorias */



/* .fecha {
    background-color: var(--naranjaoscurillado);
    color: var(--black);
    padding: 1rem;
    border-radius: 0.8rem;

} */
 

/* ABDERAHMANE */

.acceso-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form-acceso{
    background-color:#F2F2F2;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    border-radius: 2rem;
    margin-bottom: 2rem;


}
 
  .texto h1{
    margin-bottom: 1rem;
    font-family: 'Comfortaa', sans-serif; 
    margin-left: 3rem;
    font-size: 2rem;

    
 
}
  
  .texto h6 {
    text-align: center;
    color: gray;
    font-family: 'Comfortaa', sans-serif;
    width: 15rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

  }
  
  .buttonAcceso {
    background-color: #00D264;
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }


/* SEBAS */

.imagenes_carrito{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    display: flex;
}

  .tienda_mobile_superior{
    width: 90%;
    height: 90rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
    padding-top: 4rem;
} 
.productos_carrito #boton_seleccion_carrito{
    display: flex;
    justify-content: center;
    align-items: center;

}
.productos_carrito #caja7 p{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* .productos_carrito .boton_check{
    
} */
.productos_carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.productos_carrito p{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: justify;
    
}
.productos_carrito #boton_seleccion_carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.seleccionar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
    ;
}
.boton_check{
    width: 2rem;
    height: 2rem;
}

.limpiar{
    grid-column: 2/5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.limpiar h2{
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;

}
.limpiar p{
    margin-right: 2rem;
    margin-top: 2rem;
}


.tienda_mobile_inferior{
    width: 90%;
    height: auto;
    display: grid;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}
.resumen{
    width: 50%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 1rem;
    /* justify-content: center; */
    align-items: center;
    border: 0.1rem #B0A326 solid;
    border-radius: 0.8rem;
}

.comprar{
    width: 50%;
    height: 3rem;
    display: flex;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.comprar button{
    width: 10rem;
    height: auto;
}

/* OUSSAMMA */

.h1Catalogo, .h2Catalogo{
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
}

.h3catalogo{
    display: flex;
    text-align: center;
}
.imagen-producto{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}
.contenedor-Catalogo{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

}




/* ..................................................................................................... */
/* .............................................TINA .............................................*/
/* ..................................................................................................... */

.h2Checkout{
    text-align: center;
    background-color: #00D264;
}
.inputCheckout{
    display: flex;
}
label{
    display: flex;
}

.aCheckout{
    background-color: #64EEF6;
    margin: 0 20px;
    border: #64EEF6;
}
.btn{
    display: flex;
    justify-content: center;
}

/* ..................................................................................................... */
/* .............................................AINTZANE .............................................*/
/* ..................................................................................................... */

.intro{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
    align-items: center;

}

.intro1 {
    width: 58%;
}

.introCostado {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fotointro {
/*     position: relative; */
    width: 95%;
    border-radius: 0.8rem;
}

.HB:hover {
    box-shadow: 0rem 0rem 1rem 0.5rem var(--naranja);
    transform: scale(1.01);
    transition: 300ms ease;
}

.fotointroDescuento {
    width: 95%;
    border-radius: 0.8rem;
/*     z-index: -1; */
}

.descuentoIVA {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     position: relative; */
}

.descuentoEnvios {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     position: relative; */
}

.fecha {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border: solid var(--verdeoscurillo);
    border-radius: 0.8rem;
    background-color: var(--naranjaoscurillado);
    justify-content: center;
    align-items: center;
}

#calendario {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: large;
}

/* pagina de categorias */

.CATEG {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 1rem 0.35rem var(--naranja);
    border-radius: 0.8rem;
}

.ContenedorCategoriasG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotoCategoria {
    width: 90%;
    margin: 1rem;
    border-radius: 0.8rem;
}

.cuatroBotones {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dosBotones {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.NPq {
    background-color: var(--naranja);
    border-radius: 0.8rem;
    color: var(--black);
    width: 45%;
    height: 2.5rem;
    margin: 1rem;
}

.CategoriasContenedor {

    align-items: center;
    display: flex;
    flex-wrap: wrap;
/*     margin-top: 1rem;
    margin-bottom: 1rem; */
    justify-content: center;

}

.marginupdown {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* pagina de productos */

.precio {
    margin: 1rem;
    font-weight: bolder;

}

.productosGeneral {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 1rem 0.35rem var(--naranja);
    border-radius: 0.8rem;
    position: relative;
    transition: 300ms ease;
}

.productosGeneral:hover {
    transform: scale(1.01);
    transition: 300ms ease;
    background-color: var(--verdeclaro);
}



#estrellaBacia {
    color: var(--verdeocuro);
    position: absolute;
    top: 20.8rem;
    right: 1.7rem;
}

.puntuacion {
    color: var(--verdemedio);
}

/* ..................................................................................................... */
/* .............................................FOOTER .............................................*/
/* ..................................................................................................... */

footer {
    margin-top: 2rem;
    background-color: var(--verdemostaza);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.siguenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redesTit {
    font-size: xx-large;
    margin: 1rem;
}

.rrss {
    font-size: xxx-large;
    margin: 0.3rem;
}

.derechos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.politicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ..................................................................................................... */
/* .............................................MEDIA QUERY .............................................*/
/* ..................................................................................................... */

/* NAVEGADOR */

/* TABLET Y MOVIL*/

@media screen and (max-width: 900px) {
    .derechos{
        display: none;
    }

    .politicas{
        display: none;
    }


}
/* ..................................................................................................... */
/* .............................................ABDERAHMANE .............................................*/
/* ..................................................................................................... */


/* ..................................................................................................... */
/* .............................................SEBAS .............................................*/
/* ..................................................................................................... */


/* ..................................................................................................... */
/* .............................................OUSSAMMA .............................................*/
/* ..................................................................................................... */


.producto-solo-descripcion{
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 25vw minmax(auto, 1fr);

}

.producto-solo-descripcion .col1 h5{
    margin: 1rem;
    font-size: 32px;
    text-align: start;
}
.producto-solo-descripcion .col1 h6{
    margin: 1rem;
    font-size: 20px;
    text-align: start;
}

.producto-solo-descripcion .col1 p{
   text-align: start;
   font-size: 14px;
   margin: 1rem;
}

.producto-solo-descripcion .col1 .lista-dolores {
    margin-left: 1rem;
}

.producto-solo-descripcion .col1 .lista-dolores li{
    text-align: justify;
    font-size: 13px;
    margin: 1rem;
    text-align: start;
}


.col3 .butones-contador{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    padding: 5px;
}

.col3 .butones-anadir{
    display: flex;
    justify-content: space-around;

}
.NPo {
    background-color: var(--verdemostaza);
    border-radius: 0.8rem;
    color: var(--black);
    width: 100%;
    height: 2.5rem;
    margin: 1rem;
}

.NPa {
    background-color: var(--naranja);
    border-radius: 0.8rem;
    color: var(--black);
    width: 100%;
    height: 2.5rem;
    margin: 1rem;
}


.count {
    font-size: 18px;
  }
  
.col2{
 margin: 1rem;
 padding: 1rem;
  }

.col2 .span{
    display: flex;
  }

.col2 .marijuana-list 
  {
    list-style: none;
    padding: 0;
  }

  .col2 .marijuana-list li i{
    color:var(--verdemedio);
    font-size: 14px;
    margin-bottom: 2rem;
    
  }

.col2 .marijuana-list span{
    display: flex;
    justify-content: center;
  }
  

  .col3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col3 .imagen-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col3 .imagen-producto .small-imagen-producto{
    width: 80%;
  }

  .col3 .butones-contador{
    display: flex;

  }

/* ..................................................................................................... */
/* .............................................TINA .............................................*/
/* ..................................................................................................... */


/* ..................................................................................................... */
/* .............................................AINTZANE .............................................*/
/* ..................................................................................................... */


    


    


/* ESCRITORIO Y TABLET */

@media screen and (min-width: 700px) {
    .fila1 {
        display: none;
    }
    .menu-btn{
        display: none;
    }
    .idioma{
        display: block;
    }
/* ..................................................................................................... */
/* .............................................ABDERAHMANE .............................................*/
/* ..................................................................................................... */


/* ..................................................................................................... */
/* .............................................SEBAS .............................................*/
/* ..................................................................................................... */


/* ..................................................................................................... */
/* .............................................OUSSAMMA .............................................*/
/* ..................................................................................................... */


/* ..................................................................................................... */
/* .............................................TINA .............................................*/
/* ..................................................................................................... */


/* ..................................................................................................... */
/* .............................................AINTZANE .............................................*/
/* ..................................................................................................... */

}

/* MOVIL */

@media screen and (max-width: 700px) {

    .categorias{
        display: none;
    }

    .logo2 {
        display: none;
    }

    .derechos{
        display: none;
    }

    .politicas{
        display: none;
    }

.intro1,
.introCostado,
.fotointroDescuento,
.fotointro {
    width: 100%;
}
  




}